In [42]:
import numpy as np
import pandas as pd
import nltk
from nltk.corpus import stopwords
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.model_selection import train_test_split
from sklearn import naive_bayes
from sklearn.metrics import roc_auc_score

In [43]:
df=pd.read_csv("train.csv")

In [44]:
df.head()

,id,title,author,text,label
0,0,House Dem Aide: We Didn’t Even See Comey’s Let...,Darrell Lucus,House Dem Aide: We Didn’t Even See Comey’s Let...,1
1,1,"FLYNN: Hillary Clinton, Big Woman on Campus - ...",Daniel J. Flynn,Ever get the feeling your life circles the rou...,0
2,2,Why the Truth Might Get You Fired,Consortiumnews.com,"Why the Truth Might Get You Fired October 29, ...",1
3,3,15 Civilians Killed In Single US Airstrike Hav...,Jessica Purkiss,Videos 15 Civilians Killed In Single US Airstr...,1
4,4,Iranian woman jailed for fictional unpublished...,Howard Portnoy,Print \nAn Iranian woman has been sentenced to...,1

In [45]:
df.columns

Index(['id', 'title', 'author', 'text', 'label'], dtype='object')

In [37]:
del df['id']
del df['title']
del df['author']

In [39]:
df.shape

(20800, 2)

In [38]:
df.isnull().sum()

text     39
label     0
dtype: int64

In [40]:
df.dropna(inplace=True)

In [41]:
df.head()

                                                text  label
0  House Dem Aide: We Didn’t Even See Comey’s Let...      1
1  Ever get the feeling your life circles the rou...      0
2  Why the Truth Might Get You Fired October 29, ...      1
3  Videos 15 Civilians Killed In Single US Airstr...      1
4  Print \nAn Iranian woman has been sentenced to...      1

In [11]:
stopset=set(stopwords.words('english'))
vectorizer=TfidfVectorizer(use_idf=True,lowercase=True,strip_accents='ascii',stop_words=stopset)

In [20]:
y=df.label

In [17]:
X=vectorizer.fit_transform(df.text)

In [21]:
print(y.shape)
print(X.shape)

(20761,)
(20761, 164431)

In [29]:
print(X)

  (0, 69756)	0.08844212498339342
  (0, 39733)	0.07614125726038626
  (0, 7321)	0.1387112840453954
  (0, 41880)	0.10937738015656644
  (0, 51359)	0.045332128602132614
  (0, 130858)	0.04074058703256836
  (0, 31795)	0.09554847670682429
  (0, 85797)	0.16549445516064648
  (0, 76817)	0.1511546071435847
  (0, 27779)	0.5753725942338583
  (0, 150672)	0.05874644467150542
  (0, 37955)	0.22343417072280997
  (0, 88439)	0.10271908029555392
  (0, 104551)	0.03618940864197297
  (0, 2202)	0.037712088486963134
  (0, 1629)	0.02612457942468297
  (0, 140973)	0.03112053384106415
  (0, 140656)	0.04064792850082325
  (0, 9310)	0.013235770493184765
  (0, 56630)	0.04389692281865582
  (0, 154041)	0.0678353017871152
  (0, 71736)	0.023116657906149703
  (0, 35135)	0.06554438725082543
  (0, 94520)	0.021266175195579346
  (0, 77969)	0.06224225490525512
  :	:
  (20760, 56068)	0.07556063039028595
  (20760, 139976)	0.03778031519514297
  (20760, 23234)	0.03657789513838291
  (20760, 18112)	0.040874118752982115
  (20760, 161501)	0.04709057011318437
  (20760, 38209)	0.19129583480800758
  (20760, 158084)	0.13132257119271062
  (20760, 5636)	0.039390174878185295
  (20760, 142559)	0.04377419039757021
  (20760, 38180)	0.04709057011318437
  (20760, 143642)	0.04709057011318437
  (20760, 35018)	0.032919618253890795
  (20760, 155456)	0.03469737321874356
  (20760, 145766)	0.03879132874553587
  (20760, 52971)	0.07816277747625694
  (20760, 58617)	0.037141430966341905
  (20760, 153289)	0.03879132874553587
  (20760, 113833)	0.040874118752982115
  (20760, 95816)	0.03825916696160151
  (20760, 48332)	0.03694611713058696
  (20760, 121517)	0.041834232625783646
  (20760, 152113)	0.04239776845374263
  (20760, 42228)	0.04571414816935678
  (20760, 38972)	0.04571414816935678
  (20760, 52656)	0.04571414816935678

In [22]:
#Train Test Split
X_train,X_test,y_train,y_test=train_test_split(X,y,random_state=31)

In [23]:
#Training using a Naive Bayes Classifier
clf=naive_bayes.MultinomialNB()
clf.fit(X_train,y_train)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [25]:
#Testing the model's accuracy
roc_auc_score(y_test,clf.predict_proba(X_test)[:,1])

0.9834206866409415